*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  background: white;
}

body {
  max-width: 1000px;
  margin-inline: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

main {
  background: rgb(37, 77, 116);
  background: linear-gradient(
    180deg,
    rgba(37, 77, 116, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

nav {
  padding: 0.5rem;
  background: rgb(37, 77, 116);
  display: flex;
  gap: 1rem;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  position: relative;
}
a:visited {
  color: black;
}
a:hover::before {
  border-top: 2px solid black;
  display: block;
  margin-inline: auto;
  width: 2rem;
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
